In [1]:
import numpy as np
import pandas as pd

In [2]:
s1 = pd.Series(np.arange(0, 7, 2))
s1

0    0
1    2
2    4
3    6
dtype: int64

In [3]:
myindex = [3, 5, 7]
price = [100, 200, 300]
s2 = pd.Series(price, index=myindex)
s2

3    100
5    200
7    300
dtype: int64

In [4]:
print(s2.index)
print(s2.values)

Int64Index([3, 5, 7], dtype='int64')
[100 200 300]

In [5]:
s = pd.Series([0, 1, 2, 3, 4, 5])
s[2:4]

2    2
3    3
dtype: int64

In [6]:
x = pd.Series([1, 2])
y = pd.Series([2, 4])
x * y

0    2
1    8
dtype: int64

In [7]:
fruits = ['Orange', 'Apple', 'Grape']
x = pd.Series([20, 30, 40], index=fruits)
print(x[['Apple', 'Orange']])

Apple     30
Orange    20
dtype: int64

# DataFrame

In [8]:
years = range(2020, 2023)
beijing = pd.Series([20, 21, 19], index=years)
hongkong = pd.Series([25, 26, 27], index=years)
singapore = pd.Series([30, 29, 31], index=years)
citydf = pd.concat([beijing, hongkong, singapore])
print(type(citydf))
print(citydf)

<class 'pandas.core.series.Series'>
2020    20
2021    21
2022    19
2020    25
2021    26
2022    27
2020    30
2021    29
2022    31
dtype: int64

In [9]:
citydf2 = pd.concat([beijing, hongkong, singapore], axis=1)
print(type(citydf2))
print(citydf2)

<class 'pandas.core.frame.DataFrame'>
       0   1   2
2020  20  25  30
2021  21  26  29
2022  19  27  31

In [10]:
citydf2.columns = ['Beijing', 'Hongkong', 'Singapore']
print(citydf2)

      Beijing  Hongkong  Singapore
2020       20        25         30
2021       21        26         29
2022       19        27         31

In [11]:
# Use dictionary to create DataFrame
data = [{'apple': 50, 'orange': 30, 'grape': 80}, {'apple': 50, 'grape': 80}]
fruits = pd.DataFrame(data)
print(fruits)

   apple  orange  grape
0     50    30.0     80
1     50     NaN     80

In [12]:
cities = {'country': ['China', 'Japan', 'Singapore'], 
          'town': ['Beijing', 'Tokyo', 'Singapore'],
          'population': [2000, 1600, 600]}
citydf3 = pd.DataFrame(cities)
print(citydf3)

     country       town  population
0      China    Beijing        2000
1      Japan      Tokyo        1600
2  Singapore  Singapore         600

In [13]:
citydf3 = pd.DataFrame(cities, index=['first', 'second', 'third'])
print(citydf3)

          country       town  population
first       China    Beijing        2000
second      Japan      Tokyo        1600
third   Singapore  Singapore         600

In [14]:
citydf4 = pd.DataFrame(cities, columns=['town', 'population'], index=cities['country'])
print(citydf4)

                town  population
China        Beijing        2000
Japan          Tokyo        1600
Singapore  Singapore         600

# Data Processing

In [15]:
cities = {'Country':['China', 'China', 'Thailand', 'Japan', 'Singapore'], 
          'Town':['Beijing', 'Shanghai', 'Bangkok', 'Tokyo', 'Singapore'], 
          'Population':[2000, 2300, 900, 1600, 600]}
df = pd.DataFrame(cities, columns=['Town', 'Population'], index=cities['Country'])
print(df)

                Town  Population
China        Beijing        2000
China       Shanghai        2300
Thailand     Bangkok         900
Japan          Tokyo        1600
Singapore  Singapore         600

In [16]:
df.at['China', 'Town']

China     Beijing
China    Shanghai
Name: Town, dtype: object

In [17]:
df.iat[2,0]

'Bangkok'

In [18]:
df.loc['Singapore']

Town          Singapore
Population          600
Name: Singapore, dtype: object

In [19]:
df.loc[['Japan', 'Thailand']]

             Town  Population
Japan       Tokyo        1600
Thailand  Bangkok         900

In [20]:
df.loc['China':'Thailand','Town':'Population']

              Town  Population
China      Beijing        2000
China     Shanghai        2300
Thailand   Bangkok         900

In [21]:
df.iloc[0]

Town          Beijing
Population       2000
Name: China, dtype: object

In [22]:
df[df['Population'] > 1000]

           Town  Population
China   Beijing        2000
China  Shanghai        2300
Japan     Tokyo        1600

# Numpy with Pandas

In [23]:
name = ['Frank', 'Peter', 'John']
score = ['first', 'second', 'final']
df = pd.DataFrame(np.random.randint(60, 100, size=(3,3)), 
                  columns=name, index=score)
print(df)

        Frank  Peter  John
first      93     86    89
second     92     82    84
final      91     64    69

In [24]:
s1 = pd.Series([1, np.nan, 5])
s2 = pd.Series([np.nan, 6, 8])
x = s1.add(s2)
print(x)

0     NaN
1     NaN
2    13.0
dtype: float64

In [25]:
print(s1.isna())
print(s1.notna())

0    False
1     True
2    False
dtype: bool
0     True
1    False
2     True
dtype: bool

In [26]:
df2 = pd.DataFrame([[1,2,3],[4,np.nan,6],[7,8,np.nan]])
print(df2.fillna(0))

   0    1    2
0  1  2.0  3.0
1  4  0.0  6.0
2  7  8.0  0.0

In [27]:
print(df2.dropna())

   0    1    2
0  1  2.0  3.0

In [28]:
print(df2.dropna(axis='columns'))

   0
0  1
1  4
2  7

# Simple Statistics
## Example 1

In [29]:
cities = {'Country': ['China', 'China', 'Thailand', 'Japan', 'Singapore'], 
          'Town': ['Beijing', 'Shanghai', 'Bangkok', 'Tokyo', 'Singapore'], 
          'Population': [2000, 2300, 900, 1600, 600]}
df = pd.DataFrame(cities, columns=['Town', 'Population'], index=cities['Country'])
print(df)

                Town  Population
China        Beijing        2000
China       Shanghai        2300
Thailand     Bangkok         900
Japan          Tokyo        1600
Singapore  Singapore         600

In [30]:
print(df['Population'].sum())

7400

In [31]:
y = df['Population'].cumsum()
print(y)

China        2000
China        4300
Thailand     5200
Japan        6800
Singapore    7400
Name: Population, dtype: int64

In [32]:
df['Cum Population'] = y
print(df)

                Town  Population  Cum Population
China        Beijing        2000            2000
China       Shanghai        2300            4300
Thailand     Bangkok         900            5200
Japan          Tokyo        1600            6800
Singapore  Singapore         600            7400

In [33]:
df['Population'].max()
df['Population'].min()

600

## Example 2

In [34]:
course = ['Chinese', 'English', 'Math', 'Science', 'Social Studies']
chinese = [14, 12, 13, 10, 13]
english = [13, 14, 11, 10, 15]
math = [15, 9, 12, 8, 15]
science = [15, 10, 13, 10, 15]
social = [12, 11, 14, 9, 14]

df = pd.DataFrame([chinese, english, math, science, social], 
                  columns=course, index=range(1, 6))
print(df)

   Chinese  English  Math  Science  Social Studies
1       14       12    13       10              13
2       13       14    11       10              15
3       15        9    12        8              15
4       15       10    13       10              15
5       12       11    14        9              14

In [35]:
total = [df.iloc[i].sum() for i in range(0, 5)]
df['Total'] = total
print(df)

   Chinese  English  Math  Science  Social Studies  Total
1       14       12    13       10              13     62
2       13       14    11       10              15     63
3       15        9    12        8              15     59
4       15       10    13       10              15     63
5       12       11    14        9              14     60

In [36]:
df.loc['Average'] = df.mean()
print(df)

         Chinese  English  Math  Science  Social Studies  Total
1           14.0     12.0  13.0     10.0            13.0   62.0
2           13.0     14.0  11.0     10.0            15.0   63.0
3           15.0      9.0  12.0      8.0            15.0   59.0
4           15.0     10.0  13.0     10.0            15.0   63.0
5           12.0     11.0  14.0      9.0            14.0   60.0
Average     13.8     11.2  12.6      9.4            14.4   61.4

In [37]:
df = df.drop(index=['Average']) # Use axis=1 for columns
print(df)

   Chinese  English  Math  Science  Social Studies  Total
1     14.0     12.0  13.0     10.0            13.0   62.0
2     13.0     14.0  11.0     10.0            15.0   63.0
3     15.0      9.0  12.0      8.0            15.0   59.0
4     15.0     10.0  13.0     10.0            15.0   63.0
5     12.0     11.0  14.0      9.0            14.0   60.0

In [38]:
df = df.sort_values(by='Total', ascending=False)
print(df)

   Chinese  English  Math  Science  Social Studies  Total
2     13.0     14.0  11.0     10.0            15.0   63.0
4     15.0     10.0  13.0     10.0            15.0   63.0
1     14.0     12.0  13.0     10.0            13.0   62.0
5     12.0     11.0  14.0      9.0            14.0   60.0
3     15.0      9.0  12.0      8.0            15.0   59.0

In [41]:
rank = range(1, 6)
df['Ranking'] = rank
print(df)

   Chinese  English  Math  Science  Social Studies  Total  Ranking
2     13.0     14.0  11.0     10.0            15.0   63.0        1
4     15.0     10.0  13.0     10.0            15.0   63.0        2
1     14.0     12.0  13.0     10.0            13.0   62.0        3
5     12.0     11.0  14.0      9.0            14.0   60.0        4
3     15.0      9.0  12.0      8.0            15.0   59.0        5

In [42]:
for i in range(1, 5): 
    if df.iat[i, 5] == df.iat[i-1, 5]: 
        df.iat[i, 6] = df.iat[i-1, 6]
print(df)

   Chinese  English  Math  Science  Social Studies  Total  Ranking
2     13.0     14.0  11.0     10.0            15.0   63.0        1
4     15.0     10.0  13.0     10.0            15.0   63.0        1
1     14.0     12.0  13.0     10.0            13.0   62.0        3
5     12.0     11.0  14.0      9.0            14.0   60.0        4
3     15.0      9.0  12.0      8.0            15.0   59.0        5

In [43]:
df = df.sort_index()
print(df)

   Chinese  English  Math  Science  Social Studies  Total  Ranking
1     14.0     12.0  13.0     10.0            13.0   62.0        3
2     13.0     14.0  11.0     10.0            15.0   63.0        1
3     15.0      9.0  12.0      8.0            15.0   59.0        5
4     15.0     10.0  13.0     10.0            15.0   63.0        1
5     12.0     11.0  14.0      9.0            14.0   60.0        4

# Read & Write CSV Files

In [45]:
df.to_csv('grades.csv')

In [46]:
df.to_csv('gradesWithoutHeader.csv', header=False, index=False)

In [51]:
courses = ['Chinese', 'English', 'Math', 'Science', 'Social Studies', 'Total', 'Ranking']
x = pd.read_csv('grades.csv', index_col=0)
y = pd.read_csv('gradesWithoutHeader.csv', names=courses)
print(x)
print(y)

   Chinese  English  Math  Science  Social Studies  Total  Ranking
1     14.0     12.0  13.0     10.0            13.0   62.0        3
2     13.0     14.0  11.0     10.0            15.0   63.0        1
3     15.0      9.0  12.0      8.0            15.0   59.0        5
4     15.0     10.0  13.0     10.0            15.0   63.0        1
5     12.0     11.0  14.0      9.0            14.0   60.0        4
   Chinese  English  Math  Science  Social Studies  Total  Ranking
0     14.0     12.0  13.0     10.0            13.0   62.0        3
1     13.0     14.0  11.0     10.0            15.0   63.0        1
2     15.0      9.0  12.0      8.0            15.0   59.0        5
3     15.0     10.0  13.0     10.0            15.0   63.0        1
4     12.0     11.0  14.0      9.0            14.0   60.0        4

In [52]:
df.to_excel('grades.xlsx', index=False)

In [53]:
df = pd.read_excel('grades.xlsx')
print(df)

   Chinese  English  Math  Science  Social Studies  Total  Ranking
0       14       12    13       10              13     62        3
1       13       14    11       10              15     63        1
2       15        9    12        8              15     59        5
3       15       10    13       10              15     63        1
4       12       11    14        9              14     60        4

In [55]:
df_test1 = pd.DataFrame({'Name': ['Tom', 'John'], 
                         'Math': [88, 92], 
                         'English': [76, 96], 
                         'Total': [164, 188]})
df_test2 = pd.DataFrame({'Name': ['Tom', 'John'], 
                         'Math': [100, 92], 
                         'English': [99, 96], 
                         'Total': [199, 188]})

with pd.ExcelWriter('grade2.xlsx') as writer: 
    df_test1.to_excel(writer, index=False, sheet_name='test1')
    df_test2.to_excel(writer, index=False, sheet_name='test2')


# Practice

In [58]:
# Question 1
tourist = [400, 420, 250, 280, 500]
year = range(2021, 2026)
df = pd.Series(tourist, index=year)
print(df)

2021    400
2022    420
2023    250
2024    280
2025    500
dtype: int64

In [65]:
# Question 2
continents = {'Population': [3.8, 6.2, 7.4, 12.28, 45.45], 
              'Place': ['North America', 'South America', 'Europe', 'Africa', 'Asia']}
df = pd.DataFrame(continents, columns=['Population'], index=continents['Place'])
print(df)

               Population
North America        3.80
South America        6.20
Europe               7.40
Africa              12.28
Asia                45.45

In [66]:
# Question 3
df['Cumulative'] = df['Population'].cumsum()
print(df)

               Population  Cumulative
North America        3.80        3.80
South America        6.20       10.00
Europe               7.40       17.40
Africa              12.28       29.68
Asia                45.45       75.13

In [68]:
# Question 4
elec = {'BVolumn': [800, 166, 882, 1425, 1639], 
        'Buy': [238.5, 238, 237.5, 237, 236.5], 
        'Sell': [239, 239.5, 240, 240.5, 241], 
        'SVolumn': [1753, 1439, 7229, 540, 642]}
df = pd.DataFrame(elec, index=range(1, 6))
print(df)

   BVolumn    Buy   Sell  SVolumn
1      800  238.5  239.0     1753
2      166  238.0  239.5     1439
3      882  237.5  240.0     7229
4     1425  237.0  240.5      540
5     1639  236.5  241.0      642

In [84]:
# Question 5
grades = {'Chinese': [14, 13, 15, 15, 12], 
          'English': [12, 14, 9, 10, 11], 
          'Math': [13, 11, 12, 13, 14], 
          'Science': [10, 10, 8, 10, 9], 
          'Social': [13, 15, 15, 15, 14]}

df = pd.DataFrame(grades, index=range(1, 6))

df['Total'] = df.sum(axis=1)

df = df.sort_values(by='Total', ascending=False)
df['Ranking'] = range(1, 6)
for i in range(1, 5): 
    if df.iat[i, 5] == df.iat[i-1, 5]: 
        df.iat[i, 6] = df.iat[i-1, 6]
df = df.sort_index()

df.loc['Average'] = df.mean()
df['Ranking']['Average'] = np.nan
print(df)

df.to_csv('Q5.csv')

         Chinese  English  Math  Science  Social  Total  Ranking
1           14.0     12.0  13.0     10.0    13.0   62.0      3.0
2           13.0     14.0  11.0     10.0    15.0   63.0      1.0
3           15.0      9.0  12.0      8.0    15.0   59.0      5.0
4           15.0     10.0  13.0     10.0    15.0   63.0      1.0
5           12.0     11.0  14.0      9.0    14.0   60.0      4.0
Average     13.8     11.2  12.6      9.4    14.4   61.4      NaN

In [87]:
# Question 6
density = {'Population': [1000, 850, 800, 1500, 600, 800], 
           'Area': [400, 500, 850, 300, 200, 320]
           'Cities': ['New York', 'Chicago', 'Bangkok', 'Tokyo', 'Singapore', 'Hong Kong']}
df = pd.DataFrame(density)
print(df)

SyntaxError: invalid syntax (<ipython-input-87-2f44369e6c44>, line 4)